.DS_Store

Thumbs.db

# Ignore Visual Studio files
*.obj
#*.exe
#*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vshost.*
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.orig
*.mdf
*.ldf
UpgradeLog*.*
UpgradeReport*.*
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
glob:*.vs10x
*.ReSharper
[Pp]ublish
[Rr]eleaseFiles
[Cc]sx/
[Bb]ackup1/
[Pp]ackages/